*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/android-sdk/
*.hprof
.gradle/
build/
/app/release
*.apk
*.ap_
*.aab
/app/debug
/app/release
*.log 